@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html{
     font-size: 14px;
     scroll-behavior: smooth;
 }
 .container{
     max-width: 900px;
     margin: 0 auto;
     padding: 0 20px;
 }
 nav{
     height: 5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .logo{
     font-size: 2.6rem;
     color: rgb(255, 158, 22);
     display: flex;
     justify-content: center;
     align-items: center;
   
 }
 .nav-list{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-list li{
     list-style: none;
     margin: 0 1rem;
 }
 li a{
     color: rgb(255, 128, 0);
     font-size: 1.5rem;
     text-decoration: none;
 }
 img{
     width: 50%;
 }
 p{
     font-size: 1.5rem;
     line-height: 1.5;
 }
 section{
     padding: 3rem 0;
 }
 .box{
     border: 2 solid rgb(144, 42, 165);
     padding: 1.5rem;
     margin-top: 3rem;
     border-radius: 15px;
 }
 h2{
     font-size: 3rem;
 }
 .flex{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .flex>*{
     margin: 3px;
 }
section.header1{
     width: 100%;
     height: 90%;
     background: url(https://inwfile.com/s-fh/yiedpg.jpg) no-repeat;
     background-size:cover ;
}
section.header2{
     width: 100%;
     height: 90%;
     background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvj9UPlWvxwKLGEl6ADQ-3yDcHTIiq3ii_CQ&s) no-repeat;
     background-size:cover ;
}
.Copyright {
     width: 55rem;
     border: 2px solid rgb(0, 6, 12);
     padding: 5rem;
     text-align: center;
     margin: 0 auto;
 }
 h3{
     font-size: 1.5rem;
 }
 section.footer{
     font-size: 1.5rem;
     text-align: center;
     padding: 3rem;
 }
 .profile-image{
    height: 300px;
    width: 300px;
 }
 *{
     font-family: "IBM Plex Sans Thai", sans-serif;
 }
 .img-fluid{
    width:600px ;
    height:600px ;
 }
 .text-center{
    font-size: 1rem;
 }
 .col-md-4{
    width: 600px;
    height: 600px;
 }